#current-product{
    padding: 30px 15px 50px;
    @include breakpoint (medium up){
        padding: 60px 40px 15px;
    }
    .b{
        @include breakpoint (medium up ){ 
            justify-content: space-between;
            align-items: flex-start;
        }
        @include breakpoint (xlarge up ){ 
            padding: 0 100px;
        }
        .current-product-item{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            overflow: hidden;
            padding-bottom: 50px;
            @include breakpoint (medium up ){ 
                flex: 0 0 50%;
            }
            @media screen and ( min-width: 768px ) {
                flex: 0 0 47%;
            }
            @include breakpoint (large up ){ 
                flex: 0 0 55%;
            }
            .small-item-thumbs{
                width: 16%;
                max-width: 70px;
                @include breakpoint (medium up ){ 
                    width: 27%;
                }
                @include breakpoint (large up ){ 
                    max-width: 85px;
                }
                .item-thumb{
                    margin-bottom: 5px;
                    @include breakpoint (large up ){ 
                        margin-bottom: 15px;
                    }
                    @include breakpoint (xlarge up ){ 
                        margin-bottom: 0;
                        margin-top: 23px;
                    }
                }
            }
            .big-item-thumbs{
                width: 80%;
                @include breakpoint (medium up ){ 
                    width: 75%;
                    display: flex;
                    align-items: center;
                }
                @include breakpoint (large up ){ 
                    width: 80%;
                }
                .big-item-thumb{
                    width: 100%;
                    margin: 0 auto;
                    img{
                        margin: 0 auto;
                        @include breakpoint (large up ){ 
                            width: 100%;
                            max-width: 300px;
                        }
                    }
                }
            }
        }
        .current-product-describe{
            @include breakpoint (medium up ){ 
                flex:  0 0 50%;
            }
            @media screen and ( min-width: 768px ) {
                flex: 0 0 53%;
            }
            @include breakpoint (large up ){ 
                flex: 0 0 41%;
            }
            h1{
                font-size: 25px;
                font-weight: 900;
                padding-bottom: 30px;
                @include breakpoint (large up ){
                    font-size: 35px;
                } 
                @include breakpoint (xlarge up ){
                    font-size: 45px;
                } 
                
            }
            .product-code{
                font-family: 'Bahnschrift';
                font-size: 12px;
                color: #707070;
                padding-bottom: 15px;
                display: block;
                @include breakpoint (xlarge up ){
                    font-size: 16px;
                } 
                b{
                    color: #015C33;
                    font-weight: 900;
                    padding-right: 25px;
                }
            }
            .describe{
                font-size: 12px;
                color: #707070;
                font-family: 'Bahnschrift';
                line-height: 16px;
                padding-bottom: 50px;
                @include breakpoint (medium up ){ 
                    padding-bottom: 20px;
                }
                @include breakpoint (xlarge up ){
                    font-size: 16px;
                    line-height: 22px;
                } 
            }
            .describe-type{
                color: #015C33;
                font-size: 14px;
                font-family: 'Bahnschrift';
                font-weight: 900;
                padding-bottom: 32px;
                @include breakpoint (xlarge up ){
                    font-size: 16px;
                } 
                img{
                    padding-right: 21px;
                }
            }
            .dues{
                font-size: 12px;
                font-family: 'Bahnschrift';
                font-weight: 900;
                color: #015C33;
                padding-bottom: 40px;
                @include breakpoint (xlarge up ){
                    font-size: 16px;
                } 
                span{
                    color: #707070;
                    font-weight: 300;
                }
            }
            .parameters{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .parameter{
                    display: flex;
                    flex-wrap: wrap;
                    width: 30%;
                    align-items: flex-start;
                    @include breakpoint (medium up ){ 
                        width: unset;
                        padding-bottom: 30px;
                        flex: 0 0 43%;
                    }
                    @media screen and ( min-width: 768px ) {
                        flex: 0 0 33%;
                    }
                    img{
                        height: 30px;
                    }
                    .parametr-text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 10px;
                        span{
                            font-size: 10px ;
                            font-family: 'Bahnschrift';
                            color: #5B5B5B;
                        }
                        b{
                            font-size: 16px ;
                            font-family: 'Bahnschrift'; 
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}