@import 'modules/foundation-styles';
footer{
	padding: 314px 0 60px ;
	overflow: hidden;
	@include breakpoint (xsmall up){
		padding: 90px 15px 0;
	}
	@include breakpoint (medium up){
		padding: 170px 40px 0;
	}
	@include breakpoint (large up){
		padding: 260px 40px 0;
	}
	@include breakpoint (xlarge up){
		padding: 290px 40px 0;
	}
	.footer-wrapp{

		.contacts{
			width: 30%;
			text-align: left;
			position: relative;
			z-index: 101;
			@include breakpoint (xsmall up){
				padding-bottom: 20px;
			}
			@include breakpoint (medium up){
				padding-bottom: 40px;
			}
			p{
				display: none;
				@include breakpoint (xsmall up){
					font-size: 10px;
				}
				@include breakpoint (medium up){
					display: block;
					margin-bottom: 0;
				}
				@include breakpoint (xlarge up){
					font-size: 13px;
				}
				&.small-contact{
					display: block;
					margin-bottom: 0;
					@include breakpoint (medium up){
						display: none;
					}
				}
				font-size: 13px;
				color: #707070;
				a{
					color: #015C33;
				}
				&.copyright{
					display: block;
					padding-top: 40px;
					color: #A2A2A2;
					font-size: 10px;
					@include breakpoint (xsmall up){
						font-size: 8px;
						padding-top: 25px;
						margin-bottom: 0;
					}
					@include breakpoint (medium up){
		
						padding-top: 15px;

					}
					@include breakpoint (large up){
						br{
							display: none;
						}
					}
					@include breakpoint (xlarge up){
						font-size: 10px;
					}
				}
			}
		}
		.logo{
			width: 40%;
			text-align: center;
			position: relative;
			z-index: 100;
			@include breakpoint (xsmall up){
				display: flex;
				align-items: center;
				width: 41%;
			}
			// overflow: hidden;
			.logo{
				position: relative;
				@include breakpoint (xsmall up){
					width: 100%;
					max-width: 160px;
					margin: 0 auto;
				}
				@include breakpoint (medium up){
					margin: -15px auto 0;
				}
				
			}
			.footer-bg{
				@include breakpoint (xsmall up){
					width: 260px;
					top: unset;
					bottom: -50px;
				}
				@include breakpoint (medium up){
					left: 63%;
					width: 310px;
					bottom: -50px;
				}
				@include breakpoint (large up){
					left: 50%;
					width: 150%;
					bottom: -240px;
					max-width: 540px;
				}
				@media screen and (min-width: 1200px){
					width: unset;
					max-width: 700px;
					bottom: -334px;
					left: 50%;
				}
				position: absolute;
				top: -120px;
				left: 50%;
				transform: translateX(-50%);
				display: unset; 
    			vertical-align: unset; 
     			max-width: unset; 
    			height: unset;

			}
		}
		.social{
			width: 30%;
			text-align: right;
			position: relative;
			z-index: 101;
			@include breakpoint (xsmall up){
				width: 29%;
			}
			p{
				font-size: 13px;
				color: #707070;
				display: inline;
				padding-right: 12px;
				@include breakpoint (xsmall up){
					font-size: 10px;
					padding-right: 0;
					display: block;
					margin-bottom: 0;
				}
				@include breakpoint (large up){
					display: inline;
				}
				@include breakpoint (xlarge up){
					font-size: 13px;
				}
				br{
					@include breakpoint (large up){
						display: none;
					}
				}
			}
			ul{
				display: inline;
				
				li{
					display: inline-block;
					@include breakpoint (large up){
						padding-left: 13px;
						&:first-child{
							padding-left: 0;
						}
					}
					a{
						display: inline-block;
						padding-left: 15px;
						@include breakpoint (xsmall up){
							padding-left: 3px;
						}


						#facebook{
							transition: .2s ease-in-out;
							&:hover{
								fill: #D2CC7A;
								transition: .2s ease-in-out;
							}
						}
						svg{
							transition: .2s ease-in-out;
							&:hover{
								path,circle{
									fill: #D2CC7A;	
									transition: .2s ease-in-out;
								}
							}

						}
					}
				}
			}

			span{
				display: block;
				
				color: #A2A2A2;
				padding-top: 45px;
				@include breakpoint (xsmall up){
					font-size: 8px;
				}
				@include breakpoint (xlarge up){
					font-size: 10px;
				}
				@include breakpoint (medium up){
					padding-top: 25px;
					br{
						display: none;
					}
				}
			}
		}
	}

}